<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sign up</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="~{/header.html}" class="text-bg-secondary"></header>

<main style="max-width: 330px" class="w-100 m-auto">

	<h2 class="text-center p-4">Authorization</h2>

	<form th:action="@{/sign-in}" method="post">
		<h5 class="form-label">Enter email:</h5>
		<div class="form-floating">
			<input class="form-control" id="email" placeholder="" name="email" type="email" required>
			<label class="text-secondary" for="email">yourNick2008@mail.com</label>
		</div>
		<h5 class="form-label">Enter password:</h5>
		<div class="form-floating">
			<input class="form-control" id="pass" placeholder="" name="password" type="password" required>
			<label class="text-secondary" for="pass">password-example</label>
		</div>
		<h5 class="p-3">You are not registered? <a href="/sign-up">sign-up</a> </h5>
		<input style="width: 330px" class="btn btn-lg btn-danger py-2" type="submit" value="Submit">
	</form>
</main>
</body>
</html>